













html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }

  /* GRID */
  .container{
    max-width:120rem;
    margin:0 auto;
    padding: 1.5rem;
  }

  /* HEADER */
  .header{
    background: #2b2b2b;
    position:fixed;
    width:100%;
  }

  .header .branding h3{
    color:#ffffff;
    font-size:2.5rem;
    font-weight:600;
  }
  .header .branding h3 span{
    color:#ffa700;
  }
  .header .branding{
    display: flex;
    align-items:center;
    gap:2rem;
  }
  .header .header__nav ul li:hover a {
    color:#ffa700;
    scale: 1.1;
  }
  .header .header__nav ul li:hover {
    scale:1.1;
    transition: 0.5s ease; 
  }
  .header .header__nav ul li a{
    color: #ffffff;
    font-size: 1.8rem;
  }
  .header .header__nav ul{
    display: flex;
    align-items:center;
    gap:2.5rem;
  }

  .header .header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .toggle__menu {
    display: none;
  }
  .header .toggle__menu span{
    width:3rem;
    height:0.3rem;
    border-radius: 5rem;
    background-color: #ffa700;
    display:block;
    transition:.5s ease;
  }
  .header .toggle__menu span:nth-child(2){
    margin:0.5rem 0;
  }
  .header .toggle__menu.open span:first-child{
    transform: translateY(10px) rotate(45deg);
    transition:.5s ease;

  }
  .header .toggle__menu.open span:nth-child(2){
    opacity: 0;
  }
    .header .toggle__menu.open span:last-child{
    transform: translateY(-7px) rotate(-45deg);
    transition:.5s ease;

  }
  .header .header__nav.open{
    right:0rem;
    transition:.5s ease;
  }
  /* HEADER MOBILE VIEW  */
  @media screen and (max-width:500px) {
  .header .header__nav {
    background:#2b2b2b;
    position: absolute;
    right:-100rem;
    top:8rem;
    width: 100%;
    height:100vh;
    padding-top: 10rem;
    transition:.5s ease;
  }
  .header .header__nav ul {
    display:flex;
    flex-direction:column;
  }
  .header .branding img{
    width:5rem;
  }
  .header .toggle__menu{
    display:block;
  }
}

/* BANNER */
.banner{
  padding-top:13rem;
  padding-bottom:5rem;
  background: #ffffff;
}
.banner .banner__wrapper {
  display:grid;
  grid-template-columns:1fr 1fr;
  align-items:center;
  gap:5rem;
}
.banner .banner__text h1{
  font-size: 10rem;
  font-weight: 800;
  color: #ffa700;
  line-height:1;
}
.banner .banner__text p{
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: justify;
}
@media screen and (max-width:500px){
.banner{
  padding-left: 2rem;
  padding-right: 2rem;
}
.banner .banner__wrapper {
  display:grid;
  grid-template-columns: 1fr;
}
.banner .banner__text{
  order: 2;
}
.banner .banner__text h1{
  font-size: 3rem;
  text-align: center;
}
.banner .banner__text a{
display:flex;
width: fit-content;
margin:0 auto;
}
.banner img{
  width: 20rem;
  margin: 0 auto;
}
}

/* SRVC */
.srvc{
  background:#2b2b2b;
}
.srvc .srvc__wrapper{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:8rem;
}
.srvc .srvc__card{
  text-align: center
}

.srvc .srvc__card i {
  color: #ffa700;
  font-size: 5rem;
}
.srvc .srvc__card h4{
  color: #ffa700;
  font-size:1.8rem;
  font-weight:600;
  margin:2rem 0;
}
.srvc .srvc__card p{
  color:#ffffff;
  margin-bottom: 5rem;
  text-align: justify;
}

@media screen and (max-width:500px){
.srvc .srvc__wrapper{
display:grid;
grid-template-columns: 1fr;
margin:0 2rem;
gap:15rem; 
}

}

/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fdf1e7;
  color: #333; 
}

/* LATEST */
.latest {
  background: #2b2b2b;
  padding: 5rem 0;
}
.latest .latest__title h2 {
  color: #ffa700;
  font-size: 5rem;
  font-weight: 600;
}
.latest .latest__title p {
  color: #ffffff;
  font-size: 2.5rem;
}
.latest .latest__title {
  margin-bottom: 8rem;
}

.latest .latest__title {
  margin-bottom: 8rem;
}
.latest .latest__card {
  background: #ffffff;
  border-radius: 2rem;
}
.latest .latest__text {
  padding: 1.5rem 2rem;
}
.latest .latest__text h4 {
  color: #ffa700;
  font-weight: 600;
}
.latest .latest__text p {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.latest .latest__text a {
  color: #ffa700;
}
@media screen and (max-width:500px){
  .latest .latest__title{
    text-align: center;
    
  }
  .latest .latest__title h2{
    font-size: 4rem;
  }
  .latest .latest__wrapper{
    display:grid;
    grid-template-columns: 1fr;
  }
  .latest .latest__card{
    margin: 0 2rem;

  }
  .latest .latest__card img{
    width: 100%;
  }
}



/* REPEATABLE PATTERN */
.btn{
  display: inline-block;
  padding:1.5rem 2rem;
  border-radius: 5rem;
  color:#ffffff;
}
.btn:hover {
  scale: 1.1;
}
.btn.bg--primary{
background:#ffa700;
}



/* website */
.abt {
  padding-left: 30rem;
  padding-right: 30rem;
  padding-top: 10rem;
  background-color: #ffffff;
}
.abt .abt__text p {
  line-height: 2;
  font-weight: 530;
}
.abt .abt__text h1 {
  color: #ffa700;
  font-size: 10rem;
  font-weight: 600;
}
.abt .abt__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20rem;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.abt .abt__social ul {
  display: flex;
  flex-direction: row;
}
.abt .abt__social ul li a {
  color: #ffa700;
  padding-right: 1.5rem;
  font-size: 3rem;
}
.abt .abt__text p {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: justify;
}
.abt .fa-solid {
  color: #ffa700;
  padding-left: 60rem;
  font-size: 5rem;
}
@media screen and (max-width: 500px) {
  .abt {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .abt .abt__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
  }
  .abt .abt__text h1 {
    font-size: 4rem;
    text-align: center;
  }
  .abt .abt__text {
    order: 2;
  }
  .abt img {
    width: 30rem;
    margin: 0 auto;
  }
  .abt .abt__social {
    display: flex;
    width: fit-content;
    margin: 0 auto;
  }
  .abt .fa-solid {
    padding-left: 20rem;
  }
}
.about__page {
  background-color: #2b2b2b;
  padding: 5rem 0;
}
.about__page .about__title h2 {
  color: #ffa700;
  font-size: 5rem;
  font-weight: 600;
}
.about__page .about__title {
  color: #ffffff;
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.about__page .abtpage__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}
.about__page .about__title {
  margin-bottom: 8rem;
}
.about__page .abtpage__card {
  background: #ffffff;
  border-radius: 2rem;
}
.about__page .abtpage__text {
  padding: 3rem 2rem;
}
.about__page .abtpage__text h4 {
  color: #ffa700;
  font-weight: 600;
  padding-bottom: 1rem;
}
.about__page .abtpage__text a {
  color: #ffa700;
}
.about__page .abtpage__text p {
  padding-bottom: 2rem;
}
@media screen and (max-width: 500px) {
  .about__page .about__title {
    text-align: center;
  }
  .about__page .about__title {
    font-size: 4rem;
  }
  .about__page .abtpage__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .about__page .abtpage__card {
    margin: 0 2rem;
  }
  .about__page .abtpage__card img {
    width: 100%;
  }
}

 /* footer/ */
 .footer {
  background: #2b2b2b;
}
.footer .footer__wrapper {
  padding: 1rem;
}
.footer .footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer .footer_social ul {
  display: flex;
  flex-direction: row;
}
.footer .footer_social ul li a {
  color: darkgray;
  padding-right: 1rem;
}
.footer .footer__wrapper p {
  color: darkgray;
  font-size: 1.5rem;
  display: flex;
  justify-content: end;
}
.footer .footer_social {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .footer .footer_social ul li a {
    font-size: 1.2rem;
  }
  .footer .footer__social {
    text-align: center;
  }
}
.free {
  background-color: #ffa700;
  padding: 2rem;
}
.free .free__text {
  text-align: center;
}
.free .free__text h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 1rem;
}
.free .free__text p {
  padding-bottom: 2rem;
}

/* FREE MOBILE VIEW */
@media screen and (max-width: 500px) {
  .free .free__text {
    font-size: 1.5rem;
  }
}



/* SERVICES */
.services {
  padding-top: 3rem;
  background: white;
}
.services .fa-solid {
  display: grid;
  justify-items: center;
  color: #ffa700;
  font-size: 3rem;
  padding-bottom: 3rem;
}
.services__content:nth-child(even) {
  background: #2b2b2b;
}
.services__content:nth-child(even) .development__text {
  order: 2;
}
.services__content:nth-child(even) p, .services__content:nth-child(even) h6 {
  color: white;
}

/* DEVELOPMENT */
.services .development__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  max-width: 117rem;
  margin: 0 auto;
}
.services .development__text h2 {
  padding-top: 10rem;
  padding-bottom: 2rem;
  color: #ffa700;
  font-size: 5rem;
  font-weight: 600;
}
.services .development__text p {
  margin-top: 3rem;
  text-align: justify;
}
.services .development__text h3 {
  font-size: 3rem;
  color: #ffa700;
  font-weight: 530;
}
.services .development__text h6 {
  font-size: 1rem;
}
.services .development__wrapper img {
  padding-top: 15rem;
}

/* Hide last chevron */
.services .services__content:last-child a {
display: none;
}

@media screen and (max-width:500px) {
  .services__content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .services__content .development__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .services__content .development__text {
    order: 2;
  }
  .services__content h2 {
    font-size: 4rem;
    text-align: center;
  }
  .services__content p, .services__content {
    text-align: center;
  }
  .services__content h3 {
    font-size: 2.5rem;
  }
  .services__content img {
    width: 20rem;
    margin: 0 auto;
  }
}

/* free/ */
.free {
  background: #ffa700;
  padding: 3rem ;
}
.free .free__wrapper {
  display: grid;
  grid-template-columns: 1fr  ;
  gap: 1rem;
  text-align: center;
}
.free .free__title h3{
  color: #ffa700;
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
}
.free .free__wrapper h3{
  color: #2b2b2b;
  font-size: 3rem;
}
.free .free__title {
  margin-bottom: 8rem;
}
.free .free__text {
  padding: 1.5rem 2rem;
}
.free .free__text p{
  font-size: 2rem;
  margin-bottom: 4rem;
}
.free .free__wrapper a{
  text-align: center;
  max-width: 200px;
  padding: 2rem;
  border: #2b2b2b;
  border-radius: 3rem;
  background-color: black;
  color: #ffffff;
  margin: 0 auto;
}
.free .free__wrapper:hover a{
  scale: 1.1;
}

/* footer/ */
.footer {
  background:#2b2b2b;
  width: 100%;
}
.footer .footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer .footer__social {
  display: flex;
  flex-direction:row;
  padding:2.5rem;
  gap:5rem;
}
.footer .footer__wrapper ul li a{
  color:dimgray;
  font-size: 2.5rem;
}
.footer .footer__wrapper ul{
  display: flex;
  gap:1.25rem;
}
.footer p {
  color:dimgray;
  display: flex;
  align-items: center;
}

/* UPDATES PAGE */


 /* header */
 .header{
  background: #2b2b2b;
  position:fixed;
  width:100%;
}

.header .branding h3{
  color:#ffffff;
  font-size:2.5rem;
  font-weight:600;
}
.header .branding h3 span{
  color:#ffa700;
}
.header .branding{
  display: flex;
  align-items:center;
  gap:2rem;
}
.header .header__nav ul li:hover a {
  color:#ffa700;
  scale: 1.1;
}
.header .header__nav ul li:hover {
  scale:1.1;
  transition: 0.5s ease; 
}
.header .header__nav ul li a{
  color: #ffffff;
  font-size: 1.8rem;
}
.header .header__nav ul{
  display: flex;
  align-items:center;
  gap:2.5rem;
}

.header .header__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .toggle__menu {
  display: none;
}
.header .toggle__menu span{
  width:3rem;
  height:0.3rem;
  border-radius: 5rem;
  background-color: #ffa700;
  display:block;
  transition:.5s ease;
}
.header .toggle__menu span:nth-child(2){
  margin:0.5rem 0;
}
.header .toggle__menu.open span:first-child{
  transform: translateY(10px) rotate(45deg);
  transition:.5s ease;
}
.header .toggle__menu.open span:nth-child(2){
  opacity: 0;
}
  .header .toggle__menu.open span:last-child{
  transform: translateY(-7px) rotate(-45deg);
  transition:.5s ease;
}
.header .header__nav.open{
  right:0rem;
  transition:.5s ease;
}


/* latest trend page */

.update .trend__post{
  border-bottom: 1px #2b2b2b;
}
.update .trend__post:not(:first-child){
padding: 3rem 0;
}
.update .trend__post:last-child{
border-bottom: none;
}
.update .update__item{
  border-bottom: 1px #2b2b2b;
}
.update .update__item:not(:first-child){
  padding: 5rem 0;
}
.update .update__item:last-child{
  border-bottom: none;
}
.update .update__item h4{
  color: #ffa700;
  font-size:2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.update .update__item table{
  width:100%;
}
.update .update__item table tr{
  height:5rem;
}
.updat .update__item__content{
  display:flex;
  gap: 2rem;
  margin-bottom: 2rem;

}
.update .update__item ul{
  display: flex;
  max-width: 40rem;
  flex-wrap: wrap;
  gap: 2rem;
}
.update .update__item ul li a{
  display: inline-block;
  border:1px solid #2b2b2b;
  padding: 1rem 2rem;
  border-radius: 5rem;
  color: black;
}

.update .container {
   display: grid;
   grid-template-columns: 2.5fr 1.5fr;
   grid-gap:5rem;
  }

/* Trends Section */
.trend__wrapper {
    padding-top: 13rem;
}

.intro {
    color: #ffa700;
    font-size: 5rem;
    font-weight: 600;
}

.parabola {
    padding-bottom: 2rem;
}

/* Trend Post Content */
.trend__post ul {
    display: flex;            
    gap: 15px;                
    list-style: none;       
    padding: 0;               
    margin: 0;                
}
.trend__post ul li {
    display: flex;            
    align-items: center;     
    padding-bottom: 1rem; 
}
.trend__post ul li a {
    text-decoration: none;    
    color: #333;             
}
.trend__post h2 {
    color: #ffa700;
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 4rem;
}
.trend__post p {
    max-width: 719px;
}

/* Separator Line */
.separator {
    border: 0;
    border-top: 3px solid #ccc; 
    margin: 20px 0; 
    max-width: 719px;
}

/* Sidebar Section */
.sidepannel {
    flex: 1;  
    padding-top: 32rem;
}

/* Trend Post Layout */
.trend__post {
    margin-bottom: 30px;
}
.trend__post a {
    color: #ffa700;
}
.trend__post p {
    padding-bottom: 3rem;
}
.trend__post img {
    padding-top: 5rem;
    padding-bottom: 1rem;
}
.update .update__item ul li a:hover {
    background-color: #2b2b2b; 
    color: white; 
}
.update .update__item__content h5{
  padding-bottom: 3rem;
}
 @media  screen and (max-width:500px) {
 .update .update__wrapper{
  display: grid;
  grid-template-columns:1fr;
  padding: 0 2rem;
 }
 .update .update__title{
  
 }
 }

/* free/ */
.free {
  background: #ffa700;
  padding: 3rem ;
}
.free .free__wrapper {
  display: grid;
  grid-template-columns: 1fr  ;
  gap: 1rem;
  text-align: center;
}
.free .free__title h3{
  color: #ffa700;
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
}
.free .free__wrapper h3{
  color: #2b2b2b;
  font-size: 3rem;
}
.free .free__title {
  margin-bottom: 8rem;
}
.free .free__text {
  padding: 1.5rem 2rem;
}
.free .free__text p{
  font-size: 2rem;
  margin-bottom: 4rem;
}
.free .free__wrapper a{
  text-align: center;
  max-width: 200px;
  padding: 2rem;
  border: #2b2b2b;
  border-radius: 3rem;
  background-color: black;
  color: #ffffff;
  margin: 0 auto;
}
.free .free__wrapper:hover a{
  scale: 1.1;
}

/* footer/ */
.footer {
  background:#2b2b2b;
  width: 100%;
}
.footer .footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer .footer__social {
  display: flex;
  flex-direction:row;
  padding:2.5rem;
  gap:5rem;
}
.footer .footer__wrapper ul li a{
  color:dimgray;
  font-size: 2.5rem;
}
.footer .footer__wrapper ul{
  display: flex;
  gap:1.25rem;
}
.footer p {
  color:dimgray;
  display: flex;
  align-items: center;
}
